<div class="ud-header">
  <h2 class="text-center">Public Chat</h2>
</div>



<div class="ud-body">
  <input type="text" placeholder="Your name" class="name-box" name="user" [(ngModel)]="message.user" />

  <div class="msg-box">
    <ul>
      <li [ngClass]="message.user === msg.user ? 'in-msg' : 'ex-msg' " *ngFor="let msg of chatService.data"> {{msg.user}} <br/> {{msg.text}}</li>
    </ul>
  </div>

  <div class="ud-flex-row">
    <input type="text" placeholder="Type message here" class="msg-input"  name="text" [(ngModel)]="message.text"/>
    <button class="send-btn" (click)= "SendMessage()">Send<i class="fa fa-paper-plane"></i></button>
  </div>

</div>
